/* =========================
   IMPORT PALING ATAS
========================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* =========================
   TAILWIND
========================= */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   FLOWBITE
========================= */
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* =========================
   BASE FONT GLOBAL
========================= */
@layer base {
    body {
        font-family: 'Inter', ui-sans-serif, system-ui, -apple-system,
            BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
            Arial, 'Noto Sans', sans-serif;
    }
}

/* =========================
   THEME (OPSIONAL)
========================= */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui;
    --color-fg-brand-subtle: var(--color-blue-200);
    --color-fg-brand: var(--color-blue-700);
    --color-fg-brand-strong: var(--color-blue-900);

    --color-brand-softer: var(--color-blue-50);
    --color-brand-soft: var(--color-blue-100);
    --color-brand: var(--color-blue-700);
    --color-brand-medium: var(--color-blue-200);
    --color-brand-strong: var(--color-blue-800);
}
